@import url("brainflix_font/stylesheet.css");
* {
  margin: 0;
  padding: 0;
  color: #323232;
  font-family: AvenirNext LT Pro;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
}

@media (min-width: 768px) {
  * {
    font-size: 14px;
    line-height: 22px;
  }
}

.navbar {
  margin-bottom: 16px;
}

@media (min-width: 768px) {
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 80px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0px 0px 8px 24px;
  }
}

@media (min-width: 1440px) {
  .navbar {
    margin: 0px 180px;
  }
}

@media (min-width: 768px) {
  form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
  }
}

.navbar__logo--container {
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .navbar__logo--container {
    margin-right: 169px;
  }
}

@media (min-width: 1440px) {
  .navbar__logo--container {
    margin-right: 509px;
  }
}

.navbar__input {
  width: 78%;
  margin: 0px 16px 8px 16px;
  height: 48px;
  border-radius: 4px;
  background-image: url("/Assets/Icons/SVG/Icon-search.svg");
  background-repeat: no-repeat;
  background-position: 8px;
  padding-left: 32px;
}

@media (min-width: 768px) {
  .navbar__input {
    width: 50%;
    margin: 0px 24px 0px 0px;
  }
}

.navbar__input:hover {
  border: solid 3px #0095FF;
}

.navbar__button--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 16px;
}

@media (min-width: 768px) {
  .navbar__button--container {
    width: 50%;
  }
}

.navbar__button {
  font-size: 14px;
  line-height: 22px;
  width: 75%;
  height: 48px;
  margin: 0px 16px;
  background-color: #0095FF;
  border-radius: 4px;
  background-image: url("/Assets/Icons/SVG/Icon-upload.svg");
  background-repeat: no-repeat;
  background-position: 25%;
  color: #FFFFFF;
  font-weight: bold;
  padding-top: 4px;
}

.navbar__button:hover {
  background-color: #0065AD;
}

@media (min-width: 768px) {
  .navbar__button {
    margin: 0px 24px 0px 0px;
    background-position: 10%;
    padding-left: 20px;
  }
}

.mohan__picture {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.mainvideo__player--container {
  width: 100%;
  height: 100%;
  margin-bottom: 32px;
  position: relative;
}

@media (min-width: 768px) {
  .mainvideo__player--container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #323232;
    margin-bottom: 48px;
  }
}

@media (min-width: 1440px) {
  .mainvideo__player--container {
    height: 540px;
  }
}

.mainvideo__player--container video {
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  .mainvideo__player--container video {
    width: 700px;
    height: 400px;
  }
}

@media (min-width: 1440px) {
  .mainvideo__player--container video {
    width: 944px;
    height: 540px;
  }
}

.mainvideoplayer__icon--container {
  height: 90%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (min-width: 1440px) {
  .mainvideoplayer__icon--container {
    width: 70%;
    height: 95%;
  }
}

.mainvideoplayer__icon--container .mainvideoplayer__icon__play {
  width: 40%;
  height: 20%;
  background: #323232;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  margin-right: 8px;
  margin-left: 16px;
}

@media (min-width: 768px) {
  .mainvideoplayer__icon--container .mainvideoplayer__icon__play {
    width: 10%;
    height: 10%;
    margin-left: 46px;
    margin-right: 16px;
  }
}

.mainvideoplayer__icon--container .mainvideoplayer__icon__play img {
  width: 20px;
  height: 20px;
}

.mainvideoplayer__icon--container .mainvideo__progressbar--container {
  height: 20%;
  width: 100%;
  background: #323232;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 8px;
}

@media (min-width: 768px) {
  .mainvideoplayer__icon--container .mainvideo__progressbar--container {
    width: 519px;
    height: 10%;
    margin-right: 16px;
  }
}

@media (min-width: 1440px) {
  .mainvideoplayer__icon--container .mainvideo__progressbar--container {
    width: 751px;
  }
}

.mainvideoplayer__icon--container .mainvideo__progressbar--container .mainvideo__progressbar {
  height: 5px;
  width: 80%;
  background: black;
  border-radius: 4px;
}

@media (min-width: 768px) {
  .mainvideoplayer__icon--container .mainvideo__progressbar--container .mainvideo__progressbar {
    width: 70%;
  }
}

.mainvideoplayer__icon--container .mainvideo__progressbar--container .mainvideo__timeline {
  display: none;
}

@media (min-width: 768px) {
  .mainvideoplayer__icon--container .mainvideo__progressbar--container .mainvideo__timeline {
    display: unset;
    color: #FFFFFF;
    margin-left: 16px;
  }
}

.mainvideoplayer__icon--container .mainvideoplayer__icon__full {
  width: 40%;
  height: 20%;
  background: #323232;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
}

@media (min-width: 768px) {
  .mainvideoplayer__icon--container .mainvideoplayer__icon__full {
    width: 10%;
    height: 10%;
  }
}

.mainvideoplayer__icon--container .mainvideoplayer__icon__full img {
  width: 20px;
  height: 20px;
}

.mainvideoplayer__icon--container .mainvideoplayer__icon__volume {
  width: 40%;
  height: 20%;
  background: #323232;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  margin-right: 16px;
}

@media (min-width: 768px) {
  .mainvideoplayer__icon--container .mainvideoplayer__icon__volume {
    width: 10%;
    height: 10%;
    margin-right: 46px;
  }
}

.mainvideoplayer__icon--container .mainvideoplayer__icon__volume img {
  width: 20px;
  height: 20px;
}

h1 {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 16px;
  font-weight: 900;
}

@media (min-width: 768px) {
  h1 {
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 24px;
  }
}

.mainvideo__description--container {
  margin: 0px 16px;
}

@media (min-width: 768px) {
  .mainvideo__description--container {
    margin: 0px 24px;
  }
}

@media (min-width: 1440px) {
  .mainvideo__description--container {
    margin-left: 180px;
    width: 50%;
  }
}

@media (min-width: 768px) {
  .mainvideo__text--container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-bottom: solid 1px #323232;
    padding-bottom: 24px;
    margin-bottom: 40px;
  }
}

.mainvideo__channel--contianer {
  font-size: 14px;
  line-height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 32px;
}

@media (min-width: 768px) {
  .mainvideo__channel--contianer {
    margin: 0px;
  }
}

.mainvideo__channel--contianer h2 {
  font-size: 14px;
  line-height: 22px;
  margin-right: 8px;
  font-weight: bold;
}

@media (min-width: 768px) {
  .mainvideo__channel--contianer h2 {
    font-size: 16px;
    line-height: 24px;
  }
}

.mainvideo__channel--contianer .mainvideo__date {
  color: #AFAFAF;
  font-weight: normal;
}

.mainvideo__icon--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 24px;
  border-bottom: #AFAFAF solid 1px;
  margin-bottom: 24px;
}

@media (min-width: 768px) {
  .mainvideo__icon--container {
    padding: 0px;
    margin: 0px;
    border: none;
  }
}

.mainvideo__icon--container img {
  margin-right: 8px;
}

.mainvideo__icon--container p {
  font-size: 14px;
  line-height: 22px;
  margin-right: 32px;
}

.mainvideo__description {
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .mainvideo__description {
    width: 70%;
  }
}

.mainvideo__form--container {
  margin: 0px 16px;
}

@media (min-width: 768px) {
  .mainvideo__form--container {
    margin: 0px 24px;
  }
}

@media (min-width: 1440px) {
  .mainvideo__form--container {
    margin-left: 180px;
    width: 50%;
  }
}

.mainvideo__form--container h2 {
  font-size: 14px;
  line-height: 22px;
  font-weight: bold;
  margin-bottom: 32px;
}

@media (min-width: 768px) {
  .mainvideo__form--container h2 {
    font-size: 24px;
    line-height: 32px;
  }
}

.mainvideo__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #AFAFAF;
}

@media (min-width: 768px) {
  .mainvideo__form {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding-bottom: 24px;
  }
}

.mainvideo__form .mohan__picture {
  margin-top: 16px;
  margin-right: 16px;
}

.mainvideo__form .maivideo__input--container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .mainvideo__form .maivideo__input--container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.mainvideo__form .mainvideo__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mainvideo__form label {
  color: #AFAFAF;
  margin-bottom: 8px;
}

.mainvideo__form textarea {
  padding: 16px 0px 0px 16px;
  height: 96px;
  border-radius: 4px;
  margin-bottom: 16px;
}

@media (min-width: 768px) {
  .mainvideo__form textarea {
    width: 440px;
    height: 28px;
    margin: 0px;
    margin-right: 16px;
  }
}

.mainvideo__form textarea:focus {
  border: solid 3px #0095FF;
  border-radius: 4px;
}

.mainvideo__form button {
  background-color: #0095FF;
  height: 48px;
  color: white;
  border-radius: 4px;
  margin-bottom: 24px;
}

.mainvideo__form button:hover {
  background: #0065AD;
}

@media (min-width: 768px) {
  .mainvideo__form button {
    width: 160px;
    margin: 0px;
    margin-top: 24px;
  }
}

.mainvidoe__comment--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 24px 0px;
  border-bottom: 1px solid #AFAFAF;
}

.mainvidoe__comment--container .mohan__picture {
  margin-right: 16px;
}

@media (min-width: 768px) {
  .mainvideo__comment {
    width: 624px;
  }
}

.mainvideo__comment__title {
  margin-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 768px) {
  .mainvideo__comment__title {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: 8px;
  }
}

.mainvideo__comment__title p {
  font-weight: bold;
}

@media (min-width: 768px) {
  .mainvideo__comment__title p {
    margin-right: 16px;
  }
}

.mainvideo__comment__title .mainvideo__comment__date {
  color: #AFAFAF;
}

.sidevideolist--container {
  margin: 0px 16px;
}

@media (min-width: 768px) {
  .sidevideolist--container {
    margin: 0px 24px;
  }
}

@media (min-width: 1440px) {
  .sidevideolist--container {
    position: absolute;
    right: 20px;
    top: 620px;
  }
}

.sidevideolist--container .sidevideolist__title {
  font-size: 14px;
  line-height: 22px;
  padding: 40px 0px;
  color: #AFAFAF;
  font-weight: bold;
}

@media (min-width: 768px) {
  .sidevideolist--container .sidevideolist__title {
    font-size: 16px;
    line-height: 24px;
  }
}

.sidevideo--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 24px;
}

@media (min-width: 768px) {
  .sidevideo--container {
    width: 40%;
  }
}

@media (min-width: 1440px) {
  .sidevideo--container {
    width: 70%;
    margin-bottom: 32px;
  }
}

.sidevideo--container img {
  width: 120px;
  height: 70px;
  margin-right: 16px;
}

.sidevideo--container h3 {
  font-weight: bold;
  margin-bottom: 8px;
}
/*# sourceMappingURL=App.css.map */